{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="text-secondary my-5">{{ evento }}</h2>
    <h3 class="text-secondary my-5">Registro cerrado - <small>30 de junio 2018</small></h3>

{% endblock %}