{% extends 'base.html.twig' %}

{% block body %}
    <div class="py-5 text-center">
        <h4>{{ evento }}</h4>
    </div>

    <div class="alert alert-success">
        <strong>Tus datos se registraron exitosamente!</strong>
    </div>
    <p class="lead mt-5">Recibirás un correo de confirmación.</p>
    <a class="btn btn-primary" href="http://www.matmor.unam.mx/eeposmat" role="button">Continuar al sitio web</a>

{% endblock %}